<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/compreja6.css">
    <script src="js/bootstrap.js" defer></script>
</head>
<div id="form-check">
  <!-- <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Combo Kids.</label>
<ul>
    <li>Acompanhamento: Pão, Hambúrguer e queijo, batata Frita, Brinquedo, suco ou refrigerante. 
    * brinde notificar se menino ou menina *.</li>
    <li>R$ 22,00</li>  
</ul> 
<label for="checkbox">Adicionais</label>
<ul>
    <li>Bacon R$ 6,00</li>  
    <li>Hambúrguer R$ 3,00</li>  
    <li>Batata Palha R$ 2,00</li>  
    <li>Catupiry R$ 4,00</li>  
    <li>ovo R$ 2,00</li>  
    <li>Calabresa R$ 5,00</li>  
    <li>Frango R$ 8,00</li>  
    <li>Contra Filé R$ 12,00</li>  
</ul> 