<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/compreja3.css">
    <script src="js/bootstrap.js" defer></script>
</head>
<section id="Porções">
    <h2>Porções</h2>
    <div id="form-check">
        <div id="form-check">
          <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Filé de Frango.</label>
        <ul>
            <li>Acompanhamento: Tomate e Cebola - 500G</li>
            <li>R$ 30,00</li>
        </ul>



        <div id="form-check">
         <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Lombo.</label>
        <ul>
            <li>Acompanhamento: Tomate e Cebola - 500G</li>
            <li>R$ 32,00</li>
        </ul>



        <div id="form-check">
   <!--          <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Calabresa.</label>
        <ul>
            <li>Acompanhamento: Tomate e Cebola - 500G</li>
            <li>R$ 30,00</li>
        </ul>



        <div id="form-check">
       <!--      <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Contra Filé.</label>
        <ul>
            <li>Acompanhamento: Tomate e Cebola - 500G</li>
            <li>R$ 47,00</li>
        </ul>

        

        <div id="form-check">
       <!--      <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Batata Frita com Bacon, Chedda, Queijo e Orégano.</label>
        <ul>
            <li>R$ 35,00</li>
        </ul>
    

    
        <div id="form-check">
 <!--            <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Batata Frita.</label>
        <ul>
            <li>R$ 22,00</li>
        </ul>
