<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/compreja5.css">
    <script src="js/bootstrap.js" defer></script>
</head>
<h2>Omeletes</h2>
    <div id="form-check">
   <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Frango com Catupiry</label>
    <ul>
        <li>R$ 22,50</li> 
    </ul>



    <div id="form-check">
      <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox"> Muçarela Apresuntado, e Tomate.</label>
    <ul>
        <li>R$ 22,50</li> 
    </ul>    



     <div id="form-check"></div>
  <!--       <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Brócolis com Bacon</label>
    <ul>
        <li>R$ 23,50</li> 
    </ul>



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Calabresa.</label>
    <ul>
        <li>R$ 22,50</li>
    </ul>    



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Calabresa com Bacon.</label>
    <ul>
        <li>R$ 24,00</li> 
    </ul>